<!-- This is the view users see while categorizing their contacts. -->
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>{{appName}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4  col-md-offset-2">
    insert contact image,
  </div>
  <div class="col-md-4">
    first, and last name here
  </div> 
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-6">
  <button>Exit</button>
    </div>
    <div class="col-md-6">
  <button>Skip/None</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-6">
      Category 1
    </div>
    <div class="col-md-6">
      Category 2
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-6">
      Category 3
    </div>
    <div class="col-md-6">
      Category 4
    </div>
  </div>
</div>