<!-- This is the view users see while categorizing their contacts. -->
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>{{appName}}</h1>
  </div>
</div>

<div ng-repeat="contact in toBeCategorized()" ng-show="contact.category === 0">
  <div class="row" >
    <div class="col-md-4  col-md-offset-2">
      <img src="{{contact.picture}}"></img>
    </div>
    <div class="col-md-4">
      {{contact.first_name}} {{contact.last_name}}
    </div> 
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-6">
    <button>Exit</button>
      </div>
      <div class="col-md-6">
    <button>Skip/None</button>
      </div>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-6">
        <button ng-click="categorized($index, 1)">Category 1</button>
      </div>
      <div class="col-md-6">
        <button ng-click="categorized($index, 2)">Category 2</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-6">
        <button ng-click="categorized($index, 3)">Category 3</button>
      </div>
      <div class="col-md-6">
        <button ng-click="categorized($index, 4)">Category 4</buton>
      </div>
    </div>
  </div>
</div>