<!-- This is the view users see while categorizing their contacts. -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <ul class="nav nav-pills">
    <li ng-controller="LoginCtrl" ng-click="logout()">
      <a>Logout</a>
    </li>
    <li ng-click="go('/dashboard')">
      <a>Dashboard</a>
    </li>
  </ul>
</nav>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>{{appName}}</h1>
  </div>
</div>
{{obj}} {{con}}
<div ng-repeat="contact in toBeCategorized()" ng-show="contact.category === 0">
  <div class="row" >
    <div class="col-md-4  col-md-offset-2">
    <img src="{{contact.picture}}"></img>
      
    </div>
    <div class="col-md-4">
      <h3>{{contact.first_name}} {{contact.last_name}}</h3>
      {{contact.connection_id}}
    </div> 
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-6">
    <button ng-click='go("/dashboard")'>Exit</button>
      </div>
      <div class="col-md-6">
    <button ng-click="categorized(contact, $index, 5)">Skip/None</button>
      </div>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-6">
        <button ng-click="categorized(contact, $index, 1)">Category 1</button>
      </div>
      <div class="col-md-6">
        <button ng-click="categorized(contact, $index, 2)">Category 2</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-6">
        <button ng-click="categorized(contact, $index, 3)">Category 3</button>
      </div>
      <div class="col-md-6">
        <button ng-click="categorized(contact, $index, 4)">Category 4</buton>
      </div>
    </div>
  </div>
</div>