<!-- This is the main dashboard page -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <ul class="nav nav-pills">
    <li ng-controller="LoginCtrl" ng-click="logout()">
      <a>Logout</a>
    </li>
    <li>
      <a href="/auth/linkedin">Sync'd In:<img src="http://www.africalegalaid.com/pics/linkedin-logo.png"></img></a>
    </li>
  </ul>
</nav>

  <div id="categorize_template" ng-show="categorize == true" ng-include="templates[0].url"></div>

<!-- Start all contacts span (show/hide) -->
<span ng-show="allContacts">
  <div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>{{appName}}</h1>
  </div> 
</div>

</br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <button type="button" class="btn btn-danger largeBtn" ng-click="toBeCategorized()">Start Categorizing</button>
    </div> 
    <div ng-hide="overallHealth.average === null" class="row">
      <div class="col-md-6 col-md-offset-3">
        <h5>Your overall social state is {{overallHealth.percentage | number:0}}% ... {{overallHealth.status}}</h5>
        <h5>Category 1 is {{groupOne.percentage | number:0}}% ... {{groupOne.status}}</h5>
        <h5>Category 2 is {{groupTwo.percentage | number:0}}% ... {{groupTwo.status}}</h5>
        <h5>Category 3 is {{groupThree.percentage | number:0}}% ... {{groupThree.status}} </h5>
        <h5>Category 4 is {{groupFour.percentage | number:0}}% ... {{groupFour.status}}</h5>
      </div>
    </div>
  <br>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <h4>
          Who would you like to touch 
          base with today?
        </h4>
      </div>
      <div class="col-md-4">
        <h5>
          Search your contacts by name: <input type="text" ng-model="query.fullname" />
          Order By:
            <select ng-model="contactSort.category">
              <option value="21">Cat 1</option>
              <option value="42">Cat 2</option>
              <option value="90">Cat 3</option>
              <option value="180">Cat 4</option>
              <option value="11">None/Undecided</option>
              <option value="">All</option> <!-- Display all that have been categorized -->
            </select>
        </h5>
      </div>
    </div>
  </div> <!-- end row with categorize btn and search -->
<br>
  <div class="row contactsListImg" ng-repeat='contact in connections | filter: query | filter: contactSort' ng-click='contactShow(contact)'>
      <div class="col-md-2 col-xs-5">
        <!-- CHANGE TO PICTURE - DEPENDING ON USER OPTION -->
        <img style="height:125px" id="colorTab" ng-style="{{changeStyle(contact.health)}}" src="{{contact.linkedin_pic}}"></img>
      </div>
      <div class="col-md-4 col-xs-6">
        <h3>{{contact.custom_first_name || contact.first_name}}
            {{contact.custom_last_name || contact.last_name}}</h3>
      </div>
      <div class="col-md-4 hidden-sm hidden-xs">
        Category: {{contact.category || "none"}}
      </div>
      <div class="col-md-2 col-xs-1">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </div>
  </div> <!-- end row for list of contacts -->
</span> <!-- end allContacts span (show/hide) -->

<!-- This is the contact show/hide -->
<div id="contactShowHide" class="row" ng-show="allContacts == false && categorize == false">
  <div class="col-md-8 col-md-offset-2">
    <button class="btn btn-muted"  ng-click='allShow()'>back</button>
    <div class="row">
      <div class="contactsListImg col-md-4  col-md-offset-2">
        <img style="height:125px" src="{{thisContact.linkedin_pic}}"></img>
      </div>
      <div class="col-md-4">
         <h3>{{thisContact.custom_first_name || thisContact.first_name}} {{thisContact.custom_last_name || thisContact.last_name}}</h3>
      </div>
    </div> <!-- end row for individual info -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <!-- CREATE NEW LOG/COMMENT -->
          <!-- Dropdown menu to select source of communication -->
          <select name="Source"ng-model="newLog.source">
            <option value="">Select source</option>
            <option value="Email">Email</option>
            <option value="Phone">Phone</option>
            <option value="In Person">In-Person</option>
            <option value="IM">Instant Message</option>
            <option value="Linkedin">LinkedIn</option>
            <option value="Facebook">Facebook</option>
            <option value="Twitter">Twitter</option>
          </select></br>
          <input type="textarea" ng-model="newLog.comment" placeholder="Comment"></input>
          <input type="date" ng-model="newLog.date"></input>
          </br>
          <button class="btn btn-success" ng-click="createLog(thisContact)">Add New Log</button>
        <!-- end of create new log/coment -->
        </br></br>
        <!-- testing to see {{thisContact.c_health}} -->
        <div ng-repeat="log in thisContact.logs | orderBy:'-timestamp'">
          <button class="btn btn-muted" ng-click="removeLog(thisContact,log.id)">x</button>
          {{log.timestamp}} - {{log.source}} <button ng-show="log.comment"ng-click="showComment = !showComment">{{showComment ? '-' : '+'}}</button>
          <div ng-show="showComment">
            {{log.comment}}
          </div>
        </div>
      </div>
    </div> <!-- end row for logs -->
      {{thisContact.health}}
    <div class="row" id="recategorize">
      <div class="col-md-6">
        <h3>{{categoryMessage}}</h3>
        <select ng-model="newCategory">
          <option value="21">3 weeks</option>
         <option value="42">6 weeks</option>
          <option value="90">3 months</option>
          <option value="180">6 months</option>
         <option value="0">None</option>
        </select>
        <button class="btn btn-danger" ng-click="categorized(thisContact, newCategory, connections.indexOf(thisContact), false)">Recategorize</button>
      </div>
    </div>
  </div> <!-- end individual's overall column -->
</div> <!-- end contact show/hide section -->

