<!-- This is the main dashboard page -->
<h1>{{appName}}</h1>
<div>
  <button>Start Categorizing</button>
</div>
<div>
  <h5>
    Your overall social state: 
    <!-- add % or img? -->
  </h5>
</div>
<br>
<div>
  <h5>
    Who would you like to touch 
    base with today?
  </h5>
</div>
<div>
  <input type="text">Search</input>
</div>
<div>DISPLAY CONTACTS HERE</div>