<h1>Hello World</h1>
</br>

<p> Angular Test: {{1 + 1}} <p>

<div ng-controller="AcquaintlyController">
  <p> {{testName}} </p>
  <ul ng-repeat="item in testList">
    <li> {{item}} </li>
  </ul>
</div>