<!-- Site#Index: Landing page & sign in-->
<h1>{{appName}}</h1>

<h4>Replace with an action statement. Ex: Get better acquainted with your contacts! =P</h4>
<h5><a href="#">Learn more --></a></h5>

<div>
  <h4>What does Acquaintly do?</h4>
    <p>Keffiyeh letterpress street art gluten-free occupy, Odd Future Tumblr VHS roof party sartorial bicycle rights butcher pour-over. Organic ethnic chia, YOLO flannel Wes Anderson kitsch mustache selfies keytar skateboard Blue Bottle swag. Chia viral jean shorts actually, try-hard meh Marfa flexitarian salvia twee disrupt. Pug pop-up YOLO 8-bit, Portland Odd Future try-hard meh readymade chia tofu. Literally shabby chic PBR food truck. Synth scenester XOXO butcher, irony umami food truck plaid shabby chic mumblecore vinyl farm-to-table tote bag fanny pack. Single-origin coffee mumblecore yr, artisan dreamcatcher ugh DIY tote bag fixie typewriter quinoa YOLO.

    Semiotics Vice flexitarian, cray pork belly whatever fixie synth chillwave. Quinoa Wes Anderson Pinterest Shoreditch Vice slow-carb, ethical fanny pack keffiyeh seitan 90's chia next level. Put a bird on it meh Portland cornhole before they sold out. Pinterest ethnic twee, meh PBR&B umami 3 wolf moon selvage Echo Park Thundercats disrupt chambray Neutra Blue Bottle Odd Future. Fap quinoa swag hella normcore occupy. Authentic literally shabby chic, banjo selvage Cosby sweater bespoke High Life deep v hoodie cardigan Austin forage. Banh mi disrupt 3 wolf moon locavore Williamsburg.</p>
</div>
<div> <!-- Add Sign In Form HERE -->
</div>