/* Table Of Contents */
/* 01- HEADERS       */
/* 02- BODY          */
/* 03- GLOBAL STYLES */


/*--------------01-HEADERS-----------------*/

h1, h4 {
  text-align: center;
}

/*--------------02-BODY--------------------*/
body {
  padding-bottom: 70px;
  padding-top: 70px;

}
.largeBtn {
  width: 100%
}
#contactShowHide {
  padding-top: 50px;
}
.navbar-fixed-top li{
  float: right;
}
/*--------------03-GLOBAL STYLES-----------*/

