/* Table Of Contents */
/* 01- HEADERS       */
/* 02- BODY          */
/* 03- GLOBAL STYLES */


/*--------------01-HEADERS-----------------*/

h1, h4 {
  text-align: center;
}

/*--------------02-BODY--------------------*/
body {
  padding: 70px 20px;
}
.largeBtn {
  width: 100%
}
#contactShowHide {
  padding-top: 50px;
}
.navbar-fixed-top li{
  float: right;
}
.contactsList {
  list-style: none;
}
.contactsList img{
  height: 100px;
}
#learn, #signin, #signup {
  min-height: 800px;
  padding-top: 70px;
}
.wideBtn button {
  width: 50%;
  float: left;
}
.squareBtn button{
  width: 50%;
  float: left;
  min-height: 150px;
}
/*--------------03-GLOBAL STYLES-----------*/

