/* Table Of Contents */
/* 01- HEADERS       */
/* 02- BODY          */
/* 03- GLOBAL STYLES */


/*--------------01-HEADERS-----------------*/

h1, h4 {
  text-align: center;
}

/*--------------02-BODY--------------------*/
body {
  padding: 70px 20px;
}
.largeBtn {
  width: 100%
}
#contactShowHide {
  padding-top: 50px;
}
.navbar-fixed-top li{
  float: right;
}
.contactsList {
  list-style: none;
}
.contactsList img {
  height: 100px;
}
#learn, #signin, #signup {
  min-height: 800px;
  padding-top: 70px;
}
.wideBtn button {
  width: 50%;
  min-height: 50px;
  float: left;
}
.bigBtn button {
  width: 50%;
  float: left;
  min-height: 150px;
}
.leftBtn {
  border-radius: 4px 0 0 4px;
}
.rightBtn {
  border-radius: 0 4px 4px 0;
}
.btn-category{
  color: #000;
  background-color: transparent;
}
.btn-category:hover {
  color: #fff;
  background-color: #3276b1;
  border: 1px solid #285e8e;
}
#catBtn1 {
  border-top: transparent;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: transparent;
  border-radius: 0 0;
}
#catBtn2{
  border-top: transparent;
  border-right: transparent;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-radius: 0 0;
}
#catBtn3{
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: transparent;
  border-left: transparent;
  border-radius: 0 0;
}
#catBtn4{
  border-top: 1px solid #000;
  border-right: transparent;
  border-bottom: transparent;
  border-left: 1px solid #000;
  border-radius: 0 0;
}
/*Makes the tiny arrow on the border*/
#catBtn2:after {
  content: '\A';
  position: absolute;
  right: 5px;
  top: 140px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 10px solid black;
}
#catBtn4:after {
  content: '\A';
  position: absolute;
  right: 5px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
}

#catBtn1:after {
  content: '\A';
  position: absolute;
  left: 5px;
  top: 140px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 0 solid transparent;
  border-right: 10px solid black;
}
#catBtn3:after {
  content: '\A';
  position: absolute;
  left: 5px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid black;
}
/*--------------03-GLOBAL STYLES-----------*/

